h1 {
  font-size: 80px;
  text-align: center;
}
h1{
 border-bottom: 5px blue solid;
 margin:0px;
 padding:10px;
}
#lee ol{
 border-right: 5px solid green;
 margin:0px;
 padding:25px;
 padding-left: 50px;
}
body{
 margin:0px;
}
#lee{
 display: grid;
 grid-template-columns: 200px 1fr 150px;
}
#lul{
 border-left: 5px green solid;
}
#css{
 padding-top: 15px;
 padding-left: 50px;
}
@media(max-width:450px){
 #lee,h1,#lee ol,#lul{
   display: block;
   border:none;
 }
 #css{
   padding-left:10px;
 }
}
